/* Setting the border-top-color for each div based on the id */
#red, #orange, #yellow, #green, #blue, #indigo, #violet {
  width: 100px;      /* Add width for visibility */
  height: 50px;      /* Add height for visibility */
  border-top: 5px solid transparent; /* Set a transparent border initially */
}

/* specific border-top-color settings */
#red {
  border-top-color:#f00;
}

#orange {
  border-top-color:#ffa500;
}

#yellow {
  border-top-color: #ff0;
}

#green {
  border-top-color: #00bc3f;
}

#blue {
  border-top-color:#06f;
}

#indigo {
  border-top-color:#8a2be2;
}

#violet {
  border-top-color:#d300c9;
}